{% extends 'base.html' %}  
{% block content %}
  {% include "dashboard/components/navbarmain.html" %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        {% include 'messages/messages.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Orders</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class='panel-heading'>
            Data
          </div>
          <div class='panel-body'>
            <div class='dataTable_wrapper'>
              <table id="order" class="responsive table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Date Sold</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}")
    }
  })
  editor = new $.fn.dataTable.Editor({
    ajax: {
      edit: {
        type: 'PUT',
        url:  '/store/Order/edit/_id_/',
        headers: { 'X_METHODOVERRIDE': 'PUT' },
        traditional: false,
        dataType : 'json',
      },
    },
    table: '#order',
    idSrc : 'id',
    fields: [
      {
        label: 'First Name',
        name: 'first_name',
      }, { 
        label: 'Last Name',
        name : 'last_name'
      }, {
        label: 'Status',
        name : 'status',
        type : 'select',
        options : [ 
          { label: 'Pending', value: 'Pending'},
          { label: 'Processed', value: 'Processed'},
          { label: 'Shipped', value : 'Shipped'},
          { label: 'Received', value: 'Received'},
          { label: 'Returned', value: 'Returned'}
        ]
      }, {
        label: 'Address',
        name : 'address',
      }, {
        label: 'City',
        name : 'city',
      }, {
        label: 'State', 
        name : 'state'
      }, {
        label: 'Zipcode',
        name : 'zip' 
      }, {
        label: 'Phone Number',
        name : 'phone_number'
      }, {
        label: 'Email', 
        name : 'email'
      }, {
        label: 'Date Sold',
        name : 'date_sold',
        type : 'date'
      }, {
        label: 'Price',
        name : 'price_sold'
      }, {
        name : 'product.id',
        hidden: true
      }
    ]
  });
  editor.on('preSubmit', function(e, data, action){
    var valueList = {};
    for (var index in data['data']){
      valueList[index] = data['data'][index]
    }
    delete data['data'];
    data['data'] = []
    var data_value;
    for (var index in valueList){
      data_value = valueList[index];
      data_value['id'] = index;
      data_value['product'] = data_value['product']['id']
      data['data'].push(JSON.stringify(data_value));
   
    }
  });
  
  var order_table = $('#order').DataTable({
    dom: "Bfrtip",
    ajax: '/store/Order/',
    columns: [
      { 
        data : null,
        defaultContent: '',
        className : 'control',
        orderable: false
      },
      {
        data : "id",
      },
      { data : "first_name"},
      { data : "last_name"},
      { data : 'status' },
      { data : "address"},
      { data : "city"},
      { data : "state"},
      { data : "zip"},
      { data : "phone_number"},
      { data : "email"},
      { data : "date_sold"},
      { data : "product.name" },
      { data : "product.description"},
      { data : "price_sold"}
    ],
    order: [ 1, 'asc' ],
    select : true, 
    buttons : [
      { 
        extend: "create",
        editor : editor
      },
      { 
        extend :"edit",
        editor : editor
      }

    ]      
  });
</script>
{% endblock %}
