{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% include "dashboard/components/navbarmain.html" %}
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Inventory <small>Category : {{category_title}}</small></h1>
        </div>
        <div class="col-lg-12">
          {% include 'messages/messages.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Data 
            </div>
            <div class="panel-body">
              <div class='dataTable_wrapper'>
                <table id="inventory" class="responsive table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th></th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Current Price</th>
                      <th>Weight</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Category</th>
                      <th>SubCategory</th>
                      <th>Updated At</th>
                      <th>Created At</th>
                      <th>Vendor Name</th>
                      <th>Vendor Address</th>
                      <th>Vendor City</th>
                      <th>Vendor State</th>
                      <th>Vendor Zip</th>
                      <th>Vendor Description</th>
                      <th>Vendor Website</th>
                      <th>VendorPhone</th>
                      <th>Vendor Email</th>
                      <th>Vendor Date Joined</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
<script>
  var subcategory_real_vals;
  $.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}")
    }
  })
  var category = "{{category_id}}"
  var all_categories;
  var category_dropdown = [];
  var vendors = [];
  $.ajax({
    type: "GET",
    contentType: "application/json; charset=utf-8",
    url: "/store/Vendor/",
    dataType: "json",
    async : false,
    success: function(data){
      data['data'].forEach(function(i){
        vendors.push({label : i.name, value : i.id})
      });
    }, 
    error: function(jqXHR, textStatus, errorThrown){
      alert(textStatus + ": " + errorThrown)
    }
  });
  $.ajax({
    type: "GET",
    contentType: "application/json; charset=utf-8",
    url: "/admin/getAllCategories/",
    dataType: "json",
    async : false,
    success: function(data){
      all_categories = data 
      all_categories.forEach(function(item){
        category_dropdown.push({label : item.name, value : item.id})
      })
    },
    error: function(jqXHR, textStatus, errorThrown){
      alert(textStatus + ": " + errorThrown)
    }
  });

  editor = new $.fn.dataTable.Editor({
    ajax: {
      create: {
        type: 'POST',
        url:  '/store/Inventory/create/',
        traditional: false,
        dataType : 'json'
      },
      edit: {
        type: 'PUT',
        url:  '/store/Inventory/edit/_id_/',
        headers: { 'X_METHODOVERRIDE': 'PUT' },
        traditional: false,
        dataType : 'json',
      },
      remove: {
        type: 'DELETE',
        url:  '/store/Inventory/delete/_id_/',
        headers : { 'X_METHODOVERRIDE' : 'DELETE' },
        traditional : false,
        dataType : 'json'
      }
    },
    table: '#inventory',
    idSrc : 'id',
    fields: [
      {
        label: "Name",
        name : "name",
      }, { 
        label: "Price",
        name : "price",
      }, {
        label: "Weight",
        name : "weight",
      }, {
        label: "Quantity",
        name: "quantity"
      }, {
        label: "Vendor",
        name : "vendor.id",
        type : 'select',
        options: vendors 
      }, {
        label: "Category",
        name : "category.id",
        id : "category-dropdown",
        type : 'select',
        options: category_dropdown 
      }, {
        label: "SubCategory",
        name : "sub_category.id",
        id : "subcategory-dropdown",
      }, {
        label: "Description",
        name : "description",
        type : "textarea"
      }
    ]
  });

  
  editor.on('open', function(e, data, action){
    openVals = editor.get()
    var sub_cat = $("#subcategory-dropdown").replaceWith("<select id='subcategory-dropdown' class='form-control'></select>")
    sub_cat = $("#subcategory-dropdown")
    all_categories.forEach(function(i){ 
      if (i.id == openVals['category.id']){
        var selected = false
        i.subcategory.forEach(function(j){
          if (j.id == openVals['sub_category.id']){
            subcategory_real_vals = j.id
            selected = true
          } 
          else
            selected = false
          sub_cat.append($('<option>', {
            value : j.id,
            text : j.name,
            selected : selected
          }));
        });
      }
    });
    $("#category-dropdown").on('change', function(){
      cat = $("#category-dropdown option:selected")  
      cat_val = cat.val() 
      sub_cat = document.getElementById("subcategory-dropdown") 
      sub_cat.options.length = 0
      sub_cat = $("#subcategory-dropdown")
      var selected;
      all_categories.forEach(function(i){
        if (i.id == cat_val){
          i.subcategory.forEach(function(j){ 
            if (j.id == subcategory_real_vals)
              selected = true
            else
              selected = false
            sub_cat.append($('<option>', {
              value : j.id,
              text : j.name,
              selected : selected
            }));
          });
        }
      }); 
    })
  })
  editor.on('close', function(e, data, action){
    $("#subcategory-dropdown").replaceWith("<input id='subcategory-dropdown' class='form-control' type='text'>")    
    subcategory_real_vals = undefined
  })
  editor.on('preSubmit', function(e, data, action){
    var valueList = {};
    for (var index in data['data']){
      valueList[index] = data['data'][index]
    }
    delete data['data'];
    data['data'] = []
    var data_value;
    for (var index in valueList){
      data_value = valueList[index];
      data_value["sub_category"] = $("#subcategory-dropdown").val()
      data_value["vendor"] = data_value["vendor"]["id"]
      data_value['id'] = index;
      data['data'].push(JSON.stringify(data_value));
    }
  });
  var inventory_table = $('#inventory').DataTable({
    dom: "Bfrtip",
    ajax: '/store/Category/'+ category + '/Inventory/',
    columns: [
     { 
        data : null,
        defaultContent: '',
        className : 'control',
        orderable: false
      },
      { data : "id"  },
      { data : "name" },
      { data : "price" },
      { data : "weight" },
      { data : "description"},
      { data : "quantity"},
      { data : "category.name"},
      { data : "sub_category.name"},
      { data : "updated_at" },
      { data : "created_at" },
      { data : "vendor.name"},
      { data : "vendor.address"},
      { data : "vendor.city"},
      { data : "vendor.state"},
      { data : "vendor.zip"},
      { data : "vendor.description"},
      { data : "vendor.website_url"},
      { data : "vendor.phone_number"},
      { data : "vendor.email"},
      { data : "vendor.date_joined"}
    ],
    order: [ 1, 'asc' ],
    select : true, 
    buttons : [
      { 
        extend: "create",
        editor : editor
      },
      { 
        extend :"edit",
        editor : editor
      },
      { 
        extend: "remove",
        editor : editor
      }
    ]      
  });
</script>

{% endblock %}
