{% extends 'base.html' %} 
{% load static %}
{% block content %}
 {% include "dashboard/components/navbarmain.html" %}
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Inventory <small>Category : {{category}}</small></h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
          <form role="form">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="Search for Items in the Inventory">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          {% include 'messages/messages.html' %}
        </div>
      </div>
      {% for product in products %}     
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                {{product.name}} 
              </div>
              <div class="panel-body">
                <ul class="nav nav-tabs">
                  <li class="active"><a href = "#main-{{product.id}}" data-toggle="tab">Main</a></li>
                  <li><a href = "#vendor-information-{{product.id}}" data-toggle="tab">Vendor Information</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="main-{{product.id}}">
                    <h4 style="margin-top:30px;">Product Info</h4>
                    <div class="row">
                      <div class="col-lg-4">
                        <a href="#">
                           <img class="media-object" src="https://images.omkt.co/Files/402/15EAC0/19F78/8c2112737cfe4cd88779712a4906ef6d/0/hero_forte_2014--kia-1920x.png" alt="..." style="max-heigh:300px;max-width:300px;">
                        </a>
                      </div>
                      <div class="col-lg-8">
                        <h4 class="media-heading">{{product.name}} <small>by vendor</small></h4>
                          <ul class="list-unstyled">
                            <li class="text-danger">Price: $ {{product.price}}</li>                            
                            <li>Weight: {{product.weight}}</li>
                            <li>Last Date Updated: {{product.updated_at}}</li>
                            <li>Date Created: {{product.created_at}}</li>
                            <li>
                          </ul>
                          <dl>
                            <dt>Product Description</dt>
                            <dd>{{product.description}}</dd>
                            <dt>Notes</dt>
                            <dd>Lorem Ipsum Text</dd>
                          </dl>
                      </div>
                    </div>
                    <div class="row">
                      <a href="/admin/inventory/edit/{{product.id}}" type="button" class="btn btn-primary btn-small btn-block">Edit Product</a>
                    </div>
                    <div class="row">
                      <form action="/admin/inventory/delete/{{product.id}}" method = "POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-small btn-block" value="Remove Product">
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="vendor-information-{{product.id}}">
                    <h4 style="margin-top:30px;">Vendor Info</h4>
                    <div class="row">
                      <div class="col-lg-4">
                        <a href="#">
                           <img class="media-object" src="https://images.omkt.co/Files/402/15EAC0/19F78/8c2112737cfe4cd88779712a4906ef6d/0/hero_forte_2014--kia-1920x.png" alt="..." style="max-heigh:300px;max-width:300px;">
                        </a>
                      </div>
                      <div class="col-lg-8">
                        <address>
                          <strong>{{product.vendor.name}}</strong>
                          <br>{{product.vendor.address}}
                          <br>{{product.vendor.city}}, {{product.vendor.state}} {{product.vendor.zip}}
                          <br>
                          <abbr title="Phone">P:</abbr>{{product.vendor.phone}}
                        </address>
                        <address>
                          <strong>Contact Info</strong>
                          <br>Email: {{product.vendor.email}}
                          <br>Website: {{product.vendor.website_url}}
                        </address>
                        <dl>
                          <dt>Date Joined</dt>
                          <dd>{{product.vendor.date_joined}}</dd>
                        </dl>
                      </div>
                    </div>          
                    <div class="row">
                      <a href="/admin/vendor/edit/{{product.vendor.id}}" type="button" class="btn btn-primary btn-small btn-block">Edit Vendor</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <nav>
            <ul class="pagination">
              {% if products.has_previous %}
                <li>
                  <a href="?page={{products.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              {% for i in products.paginator.page_range %}
                <li {% if products.paginator.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
              {% endfor %}
              {% if products.has_next %}
                <li>
                  <a href="?page={{products.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
{% endblock %}
