<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/admin/index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li id="InventoryList">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Inventory<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a data-toggle="modal" data-target="#create-category-modal" id="createCategory" href="#">Create New Category</a> 
          </li>
          <li>
            <a href="/admin/inventory/all">All Items</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="/admin/vendor/all/">Vendors</a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
